html, body, #map-canvas {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#panel-fp {
	position: absolute;
	top: 60px;
	left: 5%;
	z-index: 5;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	border: 2px solid #595959;
	background-color: #50000E;
	color: #fff;
	width: 30%;
	display: none;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
}

#errorBox {
	position: absolute;
	top: 91%;
	left: 2%;
	z-index: 5;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	border: 2px solid #595959;
	background-color: #50000E;
	color: #fff;
	width: 30%;
	display: none;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
}

/* #panel {
	display: none;
	float: right;
	position: absolute;
	right: -300px;
	height: 100%;
	width: 300px;
	background-color: #fff;
	font-family: Roboto, Arial, sans-serif;
	font-size: 13px;
	font-weight: 300;
}
 */
#boxFlightPlan {
	 text-transform: uppercase;
	 font-family: Verdana, Arial, sans-serif;
	 font-size: 13px;
	 font-weight: bold;
} 
#flightplan-help {
	z-index: 1000;
	position: absolute;
	top: 32px;
	left: 11.4%;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	box-shadow: 4px 4px 4px 0px rgba(50, 50, 50, 0.75);
	border: 1px solid #000;
	font-size: 12px;
	font-weight: 500;
	background-color: #000;
	color: #fff;
	border-radius: 2px;
	padding: 10px;
	display: none;
}
#flightplan-button {
	position: absolute;
	top: 28px;
	left: 5%;
	font-family: Verdana, Arial, sans-serif;
	text-decoration: none;
	border: 1px solid #999;
	font-size: 12px;
	font-weight: 500;
	background-color: #fff;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
	border-radius: 5px;
}
#flightplan-button.down {
	background-color: #000;
	color: #fff;
}
#flightplan-button.up {
	background-color: #fff;
	color: #000;
}

.labelsAirport {
	color: darkblue;
	background-color: white;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 38px;
	border: 2px solid black;
	white-space: nowrap;
}
.labelsWaypoint {
	color: black;
	background-color: lightgray;
	font-family: "Lucida Grande", "Arial", sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	border: 2px solid black;
	white-space: nowrap;
}
.runwayTable {
	font-family: "Arial", sans-serif;
	font-size: 12px;
}
.runwayInfo {
	color: blue;
	font-weight: bold;
}
.vorTable {
	font-family: "Arial", sans-serif;
	font-size: 12px;
}
.vorInfo {
	color: blue;
	font-weight: bold;
}